


<nav [ngClass]= "{'training-goal': !active, 'training-goal-active': active}"> 
    <li  *ngFor="let tab of tabs; let i = index" >
        <a *ngIf = "currentUrl === '/main/calculate'" (click)="openTab(tab)"
         routerLink="form/{{tab}}" routerLinkActive = "link-active">{{tab}}
        </a>
        <a *ngIf = "currentUrl === '/main/loader'" (click)="openTab(tab)"
          [ngClass] = "{'link-active': tab === tabActive}">{{tab}}
        </a>
    </li>
    <li *ngIf="tabsInitial.length > 4 && active" (click)="showSavedTrainings()"><a>+{{tabsInitial.length - 3}} More</a></li>
</nav>

<main [ngClass]="{'main-active':active}"> 
    
    <router-outlet></router-outlet>
    
</main>
