



<form #userForm="ngForm" class="inquire">
    <div class="picker">   
        <h3>Choose a discipline <span *ngIf="goal==='street lifting'">done with additional weight</span> </h3>
        <div class="excercise-list">
            <li  *ngFor='let discipline of excercises; let i = index'>
                <input ngModel id="disc" type="radio" name="option" value="{{discipline.name}}"   />
                <label for="disc">{{discipline.name}}</label>
            </li>
        </div>

    </div> 
    <div class="calculator">
        <h3><label for="quantity">Enter {{parameter}} for chosen discipline</label></h3>
        <input ngModel type="number" id="maxReps" name="maxNumber" required max="100"  />
        <!-- <span *ngIf="goal==='street lifting'">Kg</span><span *ngIf="goal==='static holds'">Sec</span> -->
        <button (click) = "calculateTraining(userForm.value)"><fa-icon [icon]="faCalculator"></fa-icon>
        </button>
        
    </div>

    <div class="marker" [ngStyle]="{'left': getMarkerPosition(goal)}"></div>

</form>
