:root {
    --clr-light: rgb(255, 255, 255);
    --txt-dark: #0F2027;
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



h1,
h2 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
}

header {
    text-align: center;
    position: unset;
    grid-area: header;

}

h1 {
    font-size: 4em;
    /* margin-bottom: 3vh; */
}

.nav {
    position: absolute;
    inset: 5vh 5vw auto auto;
    display: flex;
    gap: 5vw;
    font-size: 3rem;
}
.nav a {
    cursor: pointer;
    color: var(--clr-light);
}
.nav a:hover {
    color: var(--clr-light-active);
}


/* .link-active::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 24vw;
    height: 10vh;
    
    background: linear-gradient(to bottom, rgb(255,255,255), transparent);
  
} */


footer{
    grid-area: footer;
    align-self: end;
    display: flex;
    justify-content: center;
    /* position: relative;
    top: 3vh; */
    color: rgba(255,255,255,0.6);
    font-family: 'Roboto Mono', monospace;
}

.error-message {
    position: absolute;
    inset: 25%;
    background-color: var(--clr-light);
    color: var(--txt-dark);
    padding: 5vh 5vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: space-between;
}

.error-message li, .exit-error-message {
    text-align: center;
    font-size: 1.5rem;
    font-size: clamp(.75rem, 4vh, 2rem);
    list-style: none;
    
}
.exit-error-message {
    position: relative;
    background-color: var(--clr-light);
    border-radius: 10px;
    border: 2px solid var(--txt-dark);
    transition: all 0.4s ease;
    cursor: pointer;
    z-index: 1111;
}
.exit-error-message:hover {
    background-color: var(--clr-light-active);
}


