:root {
    --clr-light: rgb(255, 255, 255);
    --txt-dark: #0F2027;
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



h1,
h2 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
}

header {
    text-align: center;
    position: relative;
    grid-area: header;

}

h1 {
    font-size: 4em;
    /* margin-bottom: 3vh; */
}



/* .link-active::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 24vw;
    height: 10vh;
    
    background: linear-gradient(to bottom, rgb(255,255,255), transparent);
  
} */


footer{
    grid-area: footer;
    align-self: end;
    display: flex;
    justify-content: center;
    /* position: relative;
    top: 3vh; */
    color: rgba(255,255,255,0.6);
    font-family: 'Roboto Mono', monospace;
}



