<!-- 

<div class="inquire">
    <div class="picker">   
        <h3>Choose an excercise</h3>
        <div class="excercise-list">
            <li *ngFor='let discipline of excercises'>{{discipline.name}}</li>
        </div>
    </div> 
    <div class="calculator">
        <h3><label for="quantity">Enter number of current max reps for chosen excercise</label></h3>
        <input type="number" id="maxReps" #maxReps />
        <a routerLink = "/training-table">
            <button (click) = "calculateEnduranceTraining(maxReps.value, EnduranceTraining)"><fa-icon [icon]="faCalculator"></fa-icon>
            </button>
        </a> 
    </div>

</div>

 -->
