table {
    margin-bottom: -2em;
    border-collapse: separate;
    border-spacing: .375em;
}


th, td, button:nth-child(3) {
    font-size: var(--fts-med);
    color: var(--txt-dark);
    padding: 0.125rem 1rem;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

th {
    background-color: var(--clr-light-active);
}
td {
    background-color: var(--clr-light);
}



th:nth-child(1),
td:nth-child(1) {
    left: -.5em;
}

thead tr th {
    top: -.5em;
}

.training-info {
    padding-inline: 5vw;
}

h3 {
    font-size: var(--fts-med);
    color: var(--clr-light-active);
    margin-bottom: 10vh;
    text-align: center;
}

h4 {
    font-size: var(--fts-med);
    flex: 100%;
}



h4,
p {
    color: var(--txt-dark);
    white-space: nowrap;
    
}

.option {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .3);
    border-radius: 10px;
    padding: 0 2vw;
}
.option p {
    flex: 50%;
}
.option + .option {
    margin-top: 5vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    bottom: -.65em;
    margin-left: 2vw;
}
.buttons button {
    font-family: 'Roboto Mono', monospace;
    font-size: var(--fts-med);
    width: 13ch;
    background-color: var(--clr-light-active);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 0.2rem 1rem;
    
}
button:first-of-type {
    margin-right: .5rem;
}
.button-row1,
.button-row2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: .65em;
    
}

button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1);
}

.buttons button:nth-child(3) {
    margin-top: 1em;
    font-size: 1.5em;
    width: min-content;
    justify-self: end;
}
.buttons .button-active {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1);
}


/* button + button {
    margin-top: .275em;
}  */
 
/* .buttons button:last-of-type {
    margin-top: .65em;
} */

@media screen and (max-width:400px) {
    
    .buttons {
        margin-block: 5vh;
    }

    .buttons button {
        font-size: 1rem;
    }

}