

 <table *ngIf="!isPortrait">
    <thead>
        <tr>
            <th scope="col">{{trainingPlan[0].excercise}}</th>
            <th scope="col">Sets</th>
            <th scope="col">Reps</th>
            <th scope="col">Rest time</th>
            <th scope="col">Volume</th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <th scope="row">#1</th>
            <td>{{trainingPlan[0].sets}}</td>
            <td>{{trainingPlan[0].reps}}</td>
            <td>{{trainingPlan[0].restTime}}</td>
            <td>{{trainingPlan[0].volume}}</td>
        </tr>
        <tr>
            <th scope="row">#2</th>
            <td>{{trainingPlan[1].sets}}</td>
            <td>{{trainingPlan[1].reps}}</td>
            <td>{{trainingPlan[1].restTime}}</td>
            <td>{{trainingPlan[1].volume}}</td>
        </tr>
        <tr>
            <th scope="row">#3</th>
            <td>{{trainingPlan[2].sets}}</td>
            <td>{{trainingPlan[2].reps}}</td>
            <td>{{trainingPlan[2].restTime}}</td>
            <td>{{trainingPlan[2].volume}}</td>
        </tr>
    </tbody>
</table>

<div class="training-info" *ngIf="isPortrait">
    
    <h3>Excercise: {{trainingPlan[0].excercise}}</h3>
    
    <div class="option">
      <h4>Option 1</h4>
      <p>Sets: {{trainingPlan[0].sets}}</p>
      <p>Reps: {{trainingPlan[0].reps}}</p>
      <p>Rest time: {{trainingPlan[0].restTime}}</p>
      <p>Volume: {{trainingPlan[0].volume}}</p> 
    </div>
    <div class="option">
        <h4>Option 2</h4>
        <p>Sets: {{trainingPlan[1].sets}}</p>
        <p>Reps: {{trainingPlan[1].reps}}</p>
        <p>Rest time: {{trainingPlan[1].restTime}}</p>
        <p>Volume: {{trainingPlan[1].volume}}</p>   
    </div>
    <div class="option">
        <h4>Option 3</h4>
      <p>Sets: {{trainingPlan[2].sets}}</p>
      <p>Reps: {{trainingPlan[2].reps}}</p>
      <p>Rest time: {{trainingPlan[2].restTime}}</p>
      <p>Volume: {{trainingPlan[2].volume}}</p> 
    </div>

</div>

<div class="buttons">
    <div class="button-row1"> 
        <button (click)="facilitateTraining(trainingPlan)">Facilitate</button>
        <button (click)="aggravateTraining(trainingPlan)">Aggravate</button>
    </div>   
    <div class="button-row2">
        <button (click)="saveTraining(trainingPlan)" [ngClass]="{'button-active':active}">Save</button>
        <button (click)="clear()">Clear</button>
    </div>
    <button (click)="nextProgression(trainingPlan)">Next progression</button>
</div> 